
server {
    listen ${NGINX_PORT};
    #server_name 192.168.1.200;

    #location /langflow {

    location /n8n-app {

        proxy_pass http://n8n:5678/;
    }
    
    location / {

        proxy_pass http://n8n:5678/;
    }
    

}
